
/* ----- Small Mobile: 600px ----- */
@media screen and (max-width: 600px){
    .black-parent{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
    }
    .black-parent .card{
        width: 200px;
        height: 200px;
    }
    .black-parent .card:nth-child(2){
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: none;
        border-right: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}