@media screen and (max-width: 1150px){

    /* nav{
        padding: 20px 30px;
    }

    .heromain{
        padding: 60px 30px;
        flex-direction: column;
        text-align: center;
    }

    .hero2{
        order: 1;
    }

    .hero1{
        order: 2;
    }

    .hero1 h1{
        font-size: 42px;
    }

} */


/* Hero stack */
.heromain{
    flex-direction: column;
}

.hero2{
    order:-1;
}

/* Cards column */
.maincarddiv{
    flex-direction: column;
    height: auto;
    align-items: center;
}

/* Card width fix */
.card1,
.card2,
.card3,
.card4,
.card5,
.card6{
    width: 90%;
    height: auto;
}

}






@media screen and (max-width: 768px){

    nav{
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .navdiv{
        flex-direction: column;
        gap: 15px;
    }

    .hero1 h1{
        font-size: 32px;
    }

    .hero1 p{
        font-size: 16px;
    }

    
   
    

    .companieslogo{
        justify-content: space-between;
        gap: 5px;   /* thoda gap kam */
    }

    .companieslogo img{
        max-height: 30px;  /* choti height */
        width: calc((100% - 25px)/6); /* 6 logos equal width, gap adjust */
        height: auto;
   }


      /* ================= RESPONSIVE ================= */

@media screen and (max-width: 768px){

    /* Navbar */
    nav{
        padding: 20px;
    }

    .navdiv{
        gap: 15px;
        justify-content: center;
    }

    /* Hero Section */
    .heromain{
        padding: 40px 20px;
        flex-direction: column;
        text-align: center;
    }

    .hero1 h1{
        font-size: 32px;
    }

    .hero1 p{
        font-size: 16px;
    }

    /* Services Section */
    .servicesparent{
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        padding: 0 20px;
        height: auto;
    }

    .servicestext{
        width: 100%;
        height: auto;
    }

    /* CARDS */

    .maincarddiv{
        flex-direction: column;   /* cards neeche aayenge */
        align-items: center;
        height: auto;             /* fixed height remove */
    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6{
        width: 90%;      /* full width */
        margin-bottom: 30px;
    }

}
}