@media screen and (max-width: 1150px){

    nav{
        padding: 20px 30px;
    }

    .heromain{
        padding: 60px 30px;
        flex-direction: column;
        text-align: center;
    }

    .hero2{
        order: 1;
    }

    .hero1{
        order: 2;
    }

    .hero1 h1{
        font-size: 42px;
    }

}






@media screen and (max-width: 768px){

    nav{
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .navdiv{
        flex-direction: column;
        gap: 15px;
    }

    .hero1 h1{
        font-size: 32px;
    }

    .hero1 p{
        font-size: 16px;
    }

    
    /* Mobile */
@media screen and (max-width: 768px){
    .companieslogo{
        display: flex;
        flex-wrap: nowrap;          /* wrap na ho */
        overflow-x: auto;           /* horizontal scroll */
        gap: 10px;
        padding: 10px;
        -webkit-overflow-scrolling: touch; /* smooth scroll ios */
    }

    .companieslogo img{
        height: 35px;               /* choti height */
        width: auto;
        flex: 0 0 auto;             /* fix size, scrollable */
    }
}
}

