*{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
nav{
    width: 100%;
    height: 70px;
    border: 2px solid black;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* padding-left: 10px;
    padding-right: 10px; */
}
.navlogo{
    width: 219px;
    height: 56px;
    border: 2px solid black;
    gap: 10px;
    align-self: center;
margin-left: 50px;
margin-top: 10px;
/* align-items: center; */
}
.navlogo img{
    width: 100%;

    /* height: 100%; */
}




.navdiv{
    width: 811px;
    height: 68px;
    border: 2px solid black;
    display: flex;
    gap: 40px;
    list-style: none;
    margin-right: 50px;
    /* text-decoration: none; */

}
.navdiv li{
    width: 82px;
    height: 28px;
    /* font-size: 18px; */
    line-height: 28px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: #000000;


}
.navitems{
    text-decoration: none;
margin-top: 20px;


}

.item6{
    border: 1px solid #191A23;
    padding: 5px 35px 20px;
    border-radius: 14px;
    margin-top: 0px;
    text-decoration: none;


}

.heromain{
    width: 100%;
    height: 515px;
    border: 2px solid black;
    margin-top: 50px;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;  */

    display: flex;
    justify-content: space-between;
/* flex-direction: column;
align-items: center;
text-align: center; */


}
/* .hero1{
    order: 1;
}
.hero2{
   order: 2;
} */
.herodiv{
    border: 2px solid black;
    width: 100%;
    height: 515px;
    /* text-align: center; */
/* display: flex; */
}
.herodiv h1{
    width: 531px;
    height: 231px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #000000;
    text-align: center;
}
.herodiv p{
    width: 498px;
    height: 112px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 400;
   font-size: 25px;
   line-height: 28px;
   color: #000000;
   text-align: center;
}

.herodiv img{
    width: 100%;
    height: 100%;
}

.herodiv button{
    width: 264px;
    height: 68px;
    border-radius: 14px;
    background-color: #191A23;
    color: white;
    gap: 10px;
    margin-left: 25%;
    margin-top: 10px;
}