* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= NAVBAR ================= */

nav {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navlogo {
    width: 180px;
}

.navlogo img {
    width: 100%;
    height: auto;
}

.navdiv {
    display: flex;
    gap: 35px;
    list-style: none;
    flex-wrap: wrap;
}

.navdiv a {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
}

.item6 {
    border: 1px solid #191A23;
    padding: 8px 25px;
    border-radius: 10px;
}

/* ================= HERO SECTION ================= */

.heromain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    gap: 40px;
    flex-wrap: wrap;
}

.herodiv {
    flex: 1;
    min-width: 300px;
}

.hero1 h1 {
    font-size: 55px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.hero1 p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.hero1 button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background: #191A23;
    color: white;
    cursor: pointer;
}

.hero2 img {
    width: 100%;
    height: auto;
}


/* Base / Desktop */


.companieslogo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    border: 2px solid black;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}

.companieslogo img {
    max-height: 50px;
    width: auto;
    flex: 1 1 auto;
    color: #000000;
    /* margin: 5px; */
    /* margin-left: 10px; */
}

.servicesparent {
    border: 2px solid black;
    width: 90%;
    height: 51px;
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    margin-top: 40px;
    gap: 30px;
}

.services1 {
    border: 2px solid black;
    width: 178px;
    height: 50px;
    border-radius: 7px;
    background-color: #B9FF66;
    padding-left: 7px;
    padding-right: 7px;
    gap: 10px;

}

.services1>h2 {
    width: 164px;
    height: 51px;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
}

.servicestext {
    border: 2px solid black;
    width: 580px;
    height: 46px;
}


/* -----------CARDS---------- */
.maincarddiv {
    border: 2px solid black;
    width: 100%;
    height: 310px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 40px;


}

.card1 {
    border: 2px solid black;
    width: 600px;
    height: 310px;
    background-color: #F3F3F3;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid black;
}





.card1child1 {
    border: 2px solid black;
    width: 221px;
    height: 210px;
    gap: 93px;
}

.card1child1>h1 {
    background-color: #B9FF66;
    width: 215px;
    height: 76px;
    border-bottom-right-radius: 50px;

}

.learnmore1 {
    border: 2px solid black;
    width: 180px;
    height: 41px;
    gap: 15px;
    display: flex;
    margin-top: 90px;
    /* font-size: 20px;
    font-weight: 400;
    line-height: 28px; */

}



.learnmore1>h2 {
    width: 108px;
    height: 28px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 4px;
}



.card1img {
    width: 210px;
    height: 166px;
}

/* -------CARD 2------ */


.card2{
    border: 2px solid black;
    width: 600px;
    height: 310px;
    background-color: #B9FF66;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid black;
}





.card2child2{
    border: 2px solid black;
    width: 221px;
    height: 210px;
    gap: 93px;
}

.card2child2 >h1 {
    background-color: white;
    width: 215px;
    height: 76px;
    border-bottom-right-radius: 50px;

}

.learnmore2 {
    border: 2px solid black;
    width: 180px;
    height: 41px;
    gap: 15px;
    display: flex;
    margin-top: 90px;
    /* font-size: 20px;
    font-weight: 400;
    line-height: 28px; */

}



.learnmore2>h2 {
    width: 108px;
    height: 28px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 4px;
}



.card2img {
    width: 210px;
    height: 166px;
}


  
  
         /* ----------CARD 3---------- */
       .card3{
    border: 2px solid black;
    width: 600px;
    height: 310px;
    background-color: #191A23;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid black;
}





.card3child3{
    border: 2px solid black;
    width: 221px;
    height: 210px;
    gap: 93px;
}

.card3child3 >h1 {
    background-color: white;
    width: 215px;
    height: 76px;
    border-bottom-right-radius: 50px;

}

.learnmore3{
    border: 2px solid black;
    width: 180px;
    height: 41px;
    gap: 15px;
    display: flex;
    margin-top: 90px;
    /* font-size: 20px;
    font-weight: 400;
    line-height: 28px; */

}



.learnmore3>h2 {
    width: 108px;
    height: 28px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    line-height: 28px;
    margin-top: 4px;
}



.card3img {
    width: 210px;
    height: 166px;
}








        /* -------CARD 4------- */


            .card4{
    border: 2px solid black;
    width: 600px;
    height: 310px;
    background-color: #F3F3F3;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid black;
}





.card4child4{
    border: 2px solid black;
    width: 221px;
    height: 210px;
    gap: 93px;
}

.card4child4 >h1 {
    background-color: #B9FF66;
    width: 215px;
    height: 76px;
    border-bottom-right-radius: 50px;

}

.learnmore2{
    border: 2px solid black;
    width: 180px;
    height: 41px;
    gap: 15px;
    display: flex;
    margin-top: 90px;
    /* font-size: 20px;
    font-weight: 400;
    line-height: 28px; */

}



.learnmore2>h2 {
    width: 108px;
    height: 28px;
    font-size: 20px;
    color: black;
    font-weight: 400;
    line-height: 28px;
    margin-top: 4px;
}



.card4img {
    width: 210px;
    height: 166px;
}



            /* -------CARD 5------- */


            .card5{
    border: 2px solid black;
    width: 600px;
    height: 310px;
    background-color: #B9FF66;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid black;
}





.card5child5{
    border: 2px solid black;
    width: 221px;
    height: 210px;
    gap: 93px;
}

.card5child5 >h1 {
    background-color: white;
    width: 215px;
    height: 76px;
    border-bottom-right-radius: 50px;

}

.learnmore2{
    border: 2px solid black;
    width: 180px;
    height: 41px;
    gap: 15px;
    display: flex;
    margin-top: 90px;
    /* font-size: 20px;
    font-weight: 400;
    line-height: 28px; */

}



.learnmore2>h2 {
    width: 108px;
    height: 28px;
    font-size: 20px;
    color: black;
    font-weight: 400;
    line-height: 28px;
    margin-top: 4px;
}



.card5img {
    width: 210px;
    height: 166px;
}


    /* -------CARD 6------- */


            .card6{
    border: 2px solid black;
    width: 600px;
    height: 310px;
    background-color: #191A23;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid black;
}





.card6child6{
    border: 2px solid black;
    width: 221px;
    height: 210px;
    gap: 93px;
}

.card6child6 >h1 {
    background-color: #B9FF66;
    width: 215px;
    height: 76px;
    border-bottom-right-radius: 50px;

}

.learnmore6{
    border: 2px solid black;
    width: 180px;
    height: 41px;
    gap: 15px;
    display: flex;
    margin-top: 90px;
    /* font-size: 20px;
    font-weight: 400;
    line-height: 28px; */

}



.learnmore6>h2 {
    width: 108px;
    height: 28px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    line-height: 28px;
    margin-top: 4px;
}



.card5img {
    width: 210px;
    height: 166px;
}

