nav{
    width: 100%;
    height: 70px;
    border: 2px solid black;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* padding-left: 10px;
    padding-right: 10px; */
}
.navlogo{
    width: 219px;
    height: 56px;
    border: 2px solid black;
    gap: 10px;
    align-self: center;
margin-left: 50px;
margin-top: 10px;
/* align-items: center; */
}
.navlogo img{
    width: 100%;

    /* height: 100%; */
}






.navitems{
    width: 811px;
    height: 68px;
    border: 2px solid black;
    display: flex;
    gap: 40px;
    list-style: none;
    margin-right: 50px;
    /* text-decoration: none; */
}
.navitems li{
    width: 82px;
    height: 28px;
    /* font-size: 18px; */
    line-height: 28px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navitems a{
    text-decoration: none;
    border: 1px solid #191A23;
    padding: 5px 35px 20px;
    border-radius: 14px;


}